<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages' %>

			<%= f.label :name %>
			<%= f.text_field :name %>

			<%= f.label :email %>
			<%= f.text_field :email %>

			<%= f.label :phone_number %>
			<%= f.text_field :phone_number %>

			<%= f.label :password %>
			<%= f.password_field :password %>

			<%= f.label :password_confirmation, "Confirmation" %>
			<%= f.password_field :password_confirmation %>

			<%= f.label :car_type %>
			<%= f.radio_button :car_type, "a" %>
				<%= f.label :car_type_a, "Малолитражка" %>
			<%= f.radio_button :car_type, "b" %>
				<%= f.label :car_type_b, "Седан" %>
			<%= f.radio_button :car_type, "c" %>
				<%= f.label :car_type_c, "Представительская" %>
			<%= f.radio_button :car_type, "d" %>
				<%= f.label :car_type_d, "Кроссовер" %>
			<%= f.radio_button :car_type, "e" %>
				<%= f.label :car_type_e, "Внедорожник" %>

			<%= f.label :city %>
			<%= f.collection_select :city, User::CITIES, :to_s, :to_s, :include_blank => true %>

			<%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>


